@media screen and (max-width :950px){
    .logo a{
        width:200px;

    }
    .nav-area a:not(:first-child) {display: none;}
    .nav-area a.icon {
      float: right;
      display: block;
    }
    .nav-area.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    .wrapper{
        height: 95px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        margin: 30px 50px;
    }
    .contactus{
        padding-top: 100px;
        font-size: 60px;
    }
    .contact-form .text-box{
        width: 100%;
    }
    .button .resbt{
        margin-top: 70px;
    }
    .cotainer{
        flex-direction: column;
        flex-wrap: nowrap;
        width:auto;
        margin:20px;
    }
    .welcome-text{
        width: 100%;
        margin:40% 0;
    }
    .about{
        margin-bottom: 243px;
    }
    .about img{
        width: 300px;
        top: 30px;
        left:auto;
        margin-left: -60px;
    }
    .about img .imageabout{
        width: 210%;
        top: 100px;
        height: 165px;
        left:auto;
        margin-left: -195px;
    }
    
    .about-me-info p{
        font-size: 18px;
    }
    .about-me-info p:last-child{
        margin:0;
    }
    .about-me-info{
        width: 320px;
        height: auto;
        top: 0;
    }
    .about h1{
        font-size: 60px;
        padding-bottom: 30px;
    }
    .gallery {
        padding-top: 100px;
        font-size:60px;
        height: auto;
    }
    .row{
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .description, .form{
        width: 100%;
        padding: 5%;
    }
    .reservation{
        box-shadow: 0px 5px 13px -3px rgba(0,0,0,.7);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form h2{
        font-size: 40px;
    } 
    .res{
        margin-left: -10px;
        height: 30vh;
        padding: 0 100px 0 40px;
        font-size: 60px;
        opacity: .1;
        padding-top: 100px;
    }
}

