*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
.wrapper{
    width: 100%; 
    margin: auto;
    background-color: #75798B;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    height: 76px;
    z-index: 1;
}
header{
    height: auto;
    -webkit-background-size:cover;
    background-size: cover;
    background-position:center center ;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 0px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:#F2F2FC ;
    text-decoration: none;
    padding: 5px 20px;
    font-family:'Segoe UI';
    font-size: 20px;
}
.nav-area li a:hover{
    font-size:27px ;
    color:#1D1F36;
    font-weight: 700;
    text-decoration: line-through;
}
.logo a{
    width:400px;
    float: left;
    height:auto;
    font-size: 35px;
    font-weight: 900;
    color: #1D1F36;
}
.logo a span{
    font-size: 35px;
    font-weight: 900;
    color: #F2F2FC;
}
.body{
    font-family: 'Segoe UI';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}
.containr{
    width: 80%;
    Margin:0 auto;
}
.reservation{
    box-shadow: 0px 5px 13px -3px rgba(0,0,0,.7);
    display: flex;
    flex-wrap: wrap;
}
.description{
    background-color: #75798B;
}
.description, .form{
      width: 50%;
      padding: 5%;
}
h1{
    height: 30vh;
    padding: 0 100px 0 100px;
    font-size: 10rem;
    opacity: .1;
    padding-top: 80px;
}
.description p{
    font-weight: 800;
    color: #1D1F36;
    font-size: 20px;
}
.description ul{
    padding-left: 16px;
    list-style: upper-alpha;
}
.description ul li{
    color: #F2F2FC;
    font-family: 'Segoe UI',;
    margin:10px 0;
}
.form{
    background-color: #1D1F36;
}
.form form{
    color:#F2F2FC;
    display: flex;
    flex-wrap: wrap;
}
.inpbox{
    width: 100%;
    background-color: #F2F2FC;
    padding: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.form select{
    font-family: 'Segoe UI';
    font-size: 20px;
    background-color: #F2F2FC;
    border: 0;
    width: 100%;
    color: #75798B;

}
input{
    font-family: 'Segoe UI';
    font-size: 20px;
    background-color: #F2F2FC;
    border: 0;
    width: 100%;
    color: #75798B;
}
footer{
    background: #1D1F36;
    padding: 20px 23px;
    
}
footer span{
    color: #F2F2FC;
    align-items: center;
}
footer span a{
    color:#75798B;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
button{
    padding: 2% 3%;
    font-weight:700;
    text-transform:uppercase;
    border: 0;
    background-color: #75798B;
    color: #1D1F36;
    font-size: 17px;
    font-family: 'Segoe UI';
    border-radius: 30px;
}
button:hover{
    color: #1D1F36;
    background-color: #F2F2FC;
}
.form h2{
    font-size: 8rem;
    font-family: 'Segoe UI';
    color: #F2F2FC;
}