*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    background:#75798B ;
    position: fixed;
    padding: 15px 0;
    width:100% ;
    font-family:'Segoe UI';
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 700;
    color: #1D1F36;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #F2F2FC;
    font-size: 18px;
    font-weight:500 ;
    margin-left: 50px;
}
.menu li a:hover{
    font-size: 22px;
    color:#1D1F36;
}
.home{
    display: flex;
    
    color: #F2F2FC;
    min-height: 500px;
    font-family:'Segoe UI';
}
.home .max-width{
    margin: auto 0 auto 40px;
    background: url(image/landscape-1459819192-mph-club-a.jpg) no-repeat center;
    height: 100vh;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin :5px 0;
}